html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#app {
	width: 100%;
	height: 100%;
}

.scene {
	width: 100%;
	height: 100%;
	position: relative;
	background: lightblue;
}

.bee {
	position: absolute;
	width: var(--sprite-size);
	height: var(--sprite-size);
	background-image: url('/sprites/bee.png');
	background-size: calc(var(--sprite-size) * 6) calc(var(--sprite-size) * 2);
	background-repeat: no-repeat;
	image-rendering: pixelated;
}
